<div class="promo promo--dark">
  <div class="container">
    <div class="promo__content">
      <picture class="promo__picture">
        <source
          srcset="
            https://static.preply.com/static/ssr/_next/static/images/hero-image-mobile-480-65b527639373c25ac8094a2f774307a4.webp
          "
          type="image/webp"
          media="(max-width: 480px)"
        />
        <source
          srcset="
            https://static.preply.com/static/ssr/_next/static/images/hero-image-mobile-480-3a24e7d9d1bd22db018ea8f0dd6d4c25.png
          "
          type="image/jpg"
          media="(max-width: 480px)"
        />
        <source
          srcset="
            https://static.preply.com/static/ssr/_next/static/images/hero-image-mobile-640-cc99778a0b5be72795d1469cb0142a16.webp
          "
          type="image/webp"
          media="(max-width: 640px)"
        />
        <source
          srcset="
            https://static.preply.com/static/ssr/_next/static/images/hero-image-mobile-640-e98f5f68686e198da8f402e879e71294.png
          "
          type="image/jpg"
          media="(max-width: 640px)"
        />
        <source
          srcset="
            https://static.preply.com/static/ssr/_next/static/images/hero-image-mobile-768-40bbf53556baa6e85b99e7774eb90042.webp
          "
          type="image/webp"
          media="(max-width: 768px)"
        />
        <source
          srcset="
            https://static.preply.com/static/ssr/_next/static/images/hero-image-mobile-768-2ff2fb6a08a5fa796e4612ec1e6a6554.png
          "
          type="image/jpg"
          media="(max-width: 768px)"
        />
        <source
          srcset="
            https://static.preply.com/static/ssr/_next/static/images/hero-image-1600-322d230c4ebddbba6cbea2629e855e1b.webp
          "
          type="image/webp"
          media="(max-width: 1600px)"
        />
        <source
          srcset="
            https://static.preply.com/static/ssr/_next/static/images/hero-image-1600-1b48d990d7bbc637b042d8cc927bd71b.jpg
          "
          type="image/jpg"
          media="(max-width: 1600px)"
        />
        <source
          srcset="
            https://static.preply.com/static/ssr/_next/static/images/hero-image-max-b87c6f5b312cdec47faf16db23183894.webp
          "
          type="image/webp"
        />
        <img
          src="https://static.preply.com/static/ssr/_next/static/images/hero-image-1600-1b48d990d7bbc637b042d8cc927bd71b.jpg"
          alt="web"
          class="promo__bg-img promo__bg-img--app"
        />
      </picture>
      <div class="promo__wrap"></div>
    </div>
  </div>
</div>
